t {
    color: crimson;
    font-size: 20px;
}

h1 {
    color: #00f;
    font-size: 10px;
}

b {
    color: lime:
    font-size: 20px;
}

pre {
    font-family: Arial;
    background-color: bisque;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

/*LoVe-HeAt*/

a:link { /*伪类*/
    color: blue;
}

a:visited {
    color: #0f0;
}

a:hover {
    color: blueviolet;
    font-size: 50px;
}

a:active {
    color: red;
}

.red {
    color: red;
}

.bg-red { /*class*/
    background-color: red;
}

#purple {
    color: purple;
}

#test {
    background-color: lime;
}

m, n {

}

#box1,
#box2,
#box3 {
    background: #d5f5f5;
    margin: 50px;
    padding: 10px;

}

#wrapper {
    padding: 30px;
    position: relative;
}

#box1,
#box2,
#box3 {
    background: #ddd;
    padding: 20px;
    border: 5px solid #cfc;
    margin: 50px;
}

#box1 {
    background-color: #fff;
    width: 100%;
    height: 48px;
    border-top: 2px #fa7d3c solid;
    border-right: none;
    border-left: none;
    border-bottom: none;
    position: fixed;
    top: 100px;
    margin: 0;
    padding: 0;
    z-index: 0;
}

#box2 {
    z-index: 1;
    position: absolute;
}

#liebiao {
    margin: auto;

}
