.navbar {
    margin-bottom: 30px;
}
.row {
    margin: auto;
    margin-bottom: 10px;
    background: #5bc0de;
}

.jumbotron {
    margin-top: 50px;
}

.foot {

    margin-bottom: 10px;
    background: #5cb85c;
}